<ion-menu [content]="content" *ngIf="username" id="menu-avatar">
  <ion-header>
    <ion-toolbar>
      <ion-title>Aquafirm</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
      <div class="profile-bg" [ngStyle]="{'background-image': 'url(assets/images/background/background-5.jpg)'}"></div>
      <div class="menu-content" *ngIf="username">
        <div class="profile-info" padding>
          <img class="profile-image" src="assets/images/logo/user.png">
          <h4 class="profile-name">{{username}} </h4> 
          
        </div>
      </div>
      
      <hr/>
      <ion-list *ngIf="username">
        <ion-item *ngFor="let p of pages; let i=index" text-wrap (click)="toggleLevel1('idx'+i)" [ngClass]="{active: isLevel1Shown('idx'+i)}">
          <h4>            
            <span  *ngIf="!p.subs" menuClose="left" (click)="openPage(p.category)">
              <ion-icon  item-left></ion-icon>
              {{p.category}}
            </span>
            <span *ngIf="p.subs"> {{p.category}}  </span>
            <ion-icon *ngIf="p.subs" color="success" item-right [name]="isLevel1Shown('idx'+i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
          </h4>
          <ion-list *ngIf="isLevel1Shown('idx'+i)">
            <ion-item *ngFor="let s of p.subs; let i2=index" text-wrap (click)="toggleLevel2('idx'+i+'idx'+i2)" [ngClass]="{active: isLevel2Shown('idx'+i+'idx'+i2)}">
              <h4>                
                <span  *ngIf="!s.manufactures" menuClose="left" ion-item detail-none  (click)="openPage(s.subcategory)">
                  <ion-icon  item-left></ion-icon>
                  {{s.subcategory}}
                </span>
                <span *ngIf="s.manufactures"> {{s.subcategory}} </span>
                <ion-icon  *ngIf="s.manufactures" color="success" item-right [name]="isLevel2Shown('idx'+i+'idx'+i2) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>
              </h4>
              <ion-list *ngIf="isLevel2Shown('idx'+i+'idx'+i2)">
                <ion-item *ngFor="let m of s.manufactures" text-wrap>                  
                  <span  menuClose="left" ion-item detail-none  (click)="openPage(m.manufacture)">
                    <ion-icon  item-left></ion-icon>
                    {{m.manufacture}}
                  </span>
                </ion-item>
              </ion-list>
            </ion-item>
          </ion-list>
        </ion-item>
        <!-- <span *ngFor="let p of pages">         
           <button  menuClose="left" ion-item detail-none  (click)="openPage(p)">
            <ion-icon  item-left></ion-icon>
            {{p.title}}
          </button>
        </span> -->
      </ion-list>
      
      <!-- <ion-list no-lines *ngIf="user | async">
        <button menuClose="left" ion-item detail-none (click)="logout()">
        <ion-icon name="log-out" item-left></ion-icon>
          Logout
        </button> 
      </ion-list> -->
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>