
<ion-header>
  <ion-navbar>
    <ion-title>{{action}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
	<div class="pull-right">
		<button  ion-button (click)="addNew()" >Add new</button>
	</div>
	<div *ngIf="action=='Plan'">
		<ion-grid>
		  <ion-row class="row-table-header">
		    <ion-col class="cell">
		      Pond No
		    </ion-col>
		    <ion-col class="cell">
		       Start Date
		    </ion-col>
		  </ion-row>
		  <ion-row>
		    <ion-col>
		      1 of 2
		    </ion-col>
		    <ion-col>
		      2 of 2
		    </ion-col>
		  </ion-row>
		</ion-grid>
	</div>
	<div *ngIf="action=='Pumping'">
		<ion-grid>
		  <ion-row class="row-table-header">
		    <ion-col class="cell">
		     	Pond No
		    </ion-col>
		    <ion-col class="cell">
		     	Pumping Started
		    </ion-col>
		    <ion-col class="cell">
		     	Pumping Stopped
		    </ion-col>
		    <ion-col class="cell">
		     	Bleaching
		    </ion-col>
		  </ion-row>
		  <ion-row>
		    <ion-col>
		      1 of 4
		    </ion-col>
		    <ion-col>
		      2 of 4
		    </ion-col>
		    <ion-col>
		      3 of 4
		    </ion-col>
		    <ion-col>
		      4 of 4
		    </ion-col>
		  </ion-row>
		</ion-grid>
	</div>
	<div *ngIf="action=='Preparation'">
		<ion-grid>
		  <ion-row class="row-table-header">
		    <ion-col class="cell">
		     	Pond No
		    </ion-col>
		    <ion-col class="cell">
		     	Qty. Used
		    </ion-col>
		  </ion-row>
		  <ion-row>
		    <ion-col>
		      1 of 2
		    </ion-col>
		    <ion-col>
		      2 of 2
		    </ion-col>
		  </ion-row>
		</ion-grid>
	</div>
	<div *ngIf="action=='Stocking'">
		<ion-grid>
		  <ion-row class="row-table-header">
		    <ion-col class="cell">
		     	Pond No
		    </ion-col>	    
		    <ion-col class="cell">
		     	Stocking Date
		    </ion-col>
		    <ion-col class="cell">
		     	PL Type
		    </ion-col>
		    <ion-col class="cell">
		     	PL Stock
		    </ion-col>
		    <ion-col class="cell">
		     	Total. Surv.
		    </ion-col>
		  </ion-row>
		  <ion-row>
		    <ion-col>
		      1 of 5
		    </ion-col>
		    <ion-col>
		      2 of 5
		    </ion-col>
		    <ion-col>
		      3 of 5
		    </ion-col>
		    <ion-col>
		      4 of 5
		    </ion-col>
		    <ion-col>
		      5 of 5
		    </ion-col>
		  </ion-row>
		</ion-grid>
	</div>
    <ion-fab bottom right> 
       <openmenu> </openmenu>
    </ion-fab>
</ion-content>


